DOPPLER_RPC=http://localhost:8899
DOPPLER_ADMIN=
DOPPLER_INTERVAL_SECS=60
DOPPLER_PROGRAM_ID=fastRQJt3nLdY3QA7n8eZ8ETEVefy56ryfUGVkfZokm

# Birdeye
BIRDEYE_API_KEY=

# CoinGecko
COINGECKO_API_KEY=

# Jupiter
JUPITER_API_KEY=

# Tokens XYZ
TOKENS_XYZ_API_KEY=

# OKX v6
OKX_API_KEY=
OKX_SECRET_KEY=
OKX_PASSPHRASE=